src/main/resources/node-red/flows.json
[{"id":"c61bf36c.edfd4","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"c74c93a8.0925b","type":"serial in","z":"c61bf36c.edfd4","name":"","serial":"6e73269d.5956d8","x":170,"y":140,"wires":[["9eca838e.2253f"]]},{"id":"9e90e717.27caf8","type":"debug","z":"c61bf36c.edfd4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":900,"y":160,"wires":[]},{"id":"9eca838e.2253f","type":"function","z":"c61bf36c.edfd4","name":"","func":"msg.payload = {\"ppm\" : msg.payload};\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":140,"wires":[["9e90e717.27caf8","6118cebb.4c272"]]},{"id":"6118cebb.4c272","type":"http request","z":"c61bf36c.edfd4","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"http://31.220.51.149:8080/api/gas/","tls":"","proxy":"","authType":"","x":630,"y":400,"wires":[["b1417c43.3ba1f"]]},{"id":"b1417c43.3ba1f","type":"http response","z":"c61bf36c.edfd4","name":"","statusCode":"","headers":{},"x":940,"y":400,"wires":[]},{"id":"6e73269d.5956d8","type":"serial-port","z":"","serialport":"/dev/tty.usbmodem14201","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"}]